*{margin: 0; padding: 0 ; box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
.center-div p{
    font-size: 12 ;
    color: lightgray;
}


.header{
    width:   100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)) , url("../images/headerimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0% , 100% 75% , 50% 100% , 0 75% , 0 0) ;
    position: relative;
}
.header:before {
    content : "" ;
    position: absolute;
    top : 0%;
    bottom : 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background : linear-gradient(to right, #1e5799 0% , #3ccdbb 0%  , #16c9f6 100%)

}
.navbar::before {
    content : "" ;
    position: absolute;
    top : 0%;
    bottom : 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background : linear-gradient(to right, #1e5799 0% , #3ccdbb 0%  , #16c9f6 100%)
}
.nav-item a{
    color: #ffff!important;
    font-weight: bold ;
}
.header-section{
    width: 100%;
    height: inherit;
    color : white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto; 
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);

}
.header-buttons a{
    border : 1px solid white;
    border-radius: 100px;
    margin : 0 5px ;
    padding : 12px 35px ;
    outline : none;
    color : white;
    font-size: 16;
    text-align: center;
}
.header-buttons a:hover{
    color: brown;
    background : white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);;

}
.center-div p{
    font-size : 20px;
    padding: 10px 0 , 20px 0;
    color: white;
}
.header-extradiv {
    width: 100% ;
    height: auto;
    margin : 100px 0 ;
    text-align: center;
}
 .extra-div {
     background :white;
     border: medium none;
     padding : 30px!important;
     border-radius :3px;
     transition: 0.3s ;
     
 }
 .extra-div h5 {
     padding-top : 20px ;
     font-weight: bold;

 }
 .extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);;
    transform: translateY(-20px)
 }
