*{margin: 0; padding: 0 ; box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
.center-div p{
    font-size: 12 ;
    color: lightgray;
}


.header{
    width:   100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)) , url("../images/headerimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0% , 100% 75% , 50% 100% , 0 75% , 0 0) ;
    position: relative;
}
.header:before {
    content : "" ;
    position: absolute;
    top : 0%;
    bottom : 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background : linear-gradient(to right, #1e5799 0% , #3ccdbb 0%  , #16c9f6 100%)

}
.navbar::before {
    content : "" ;
    position: absolute;
    top : 0%;
    bottom : 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background : linear-gradient(to right, #1e5799 0% , #3ccdbb 0%  , #16c9f6 100%)
}
.nav-item a{
    color: #ffff!important;
    font-weight: bold ;
}
.header-section{
    width: 100%;
    height: inherit;
    color : white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto; 
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);

}
.header-buttons a{
    border : 1px solid white;
    border-radius: 100px;
    margin : 0 5px ;
    padding : 12px 35px ;
    outline : none;
    color : white;
    font-size: 16;
    text-align: center;
}
.header-buttons a:hover{
    color: brown;
    background : white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);;

}
.center-div p{
    font-size : 20px;
    padding: 10px 0 , 20px 0;
    color: white;
}
.header-extradiv {
    width: 100% ;
    height: auto;
    margin : 100px 0 ;
    text-align: center;
}
 .extra-div {
     background :white;
     border: medium none;
     padding : 30px!important;
     border-radius :3px;
     transition: 0.3s ;
     
 }
 .extra-div h5 {
     padding-top : 20px ;
     font-weight: bold;

 }
 .extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);;
    transform: translateY(-20px)
 }
 
/***.offers{
    border : 1px solid #ccc;
    background : purple;
    color : white
}
.names img{
    border-style: none;
    background-color : purple;
}
.offers a{
    color: white;
}
.offers:hover , .names img:hover{
    background : white;
    color: black;
}***/

/************services start*/
.serviceoffer{
  background : lightgray; 
  padding : 50px 0 ;
  margin-bottom: 50px; 
}
.name h2{
    
    color :#2e2e2e;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: bold;
}
.servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height : 1.1 ;
    word-spacing: 4px;

}
.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    color: rgb(163, 163, 170)
}
.serviceweb{
    color: white;
    background: rgb(153, 0, 255)
   
}
.serviceweb:hover{
    color: black;
    background:white;
}
.serviceSEO{
    color: white;
    background: rgb(37, 196, 169)
}
.serviceSEO:hover{
    color: black;
    background: white;
}
.serviceMARKETING{
    color: white;
    background: rgb(0, 255, 76)  
}
.serviceMARKETING:hover{
    color: black;
    background: white;
}
.web-word{
    font-weight: bold;
    margin-top : 50px!important;
    margin-bottom: 30px!important;
}
.first3services{
    margin-bottom: 50px!important;
}
.services-container{
    background:lightgray;
}
/*........completed projects....*/
.head{
margin-top: 50px;
}
/*..... pricing ...*/
.headingpricing{
    padding-bottom: 30px;
}
.pricing {
   width: 100%;
   height: 100vh;
   padding: 50px ;
   position: relative; 
}
.pricing:before {
    content : "" ;
    position: absolute;
    top : 0%;
    bottom : 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background : linear-gradient(160deg,  #16c9f6 55% , #fff 0%)

}
.money{
    font-size: 32px;
    font: bold;
    line-height: 1 ;
}
.card{
    
    transition: 0.4s ease;
}
.card:hover{
    transform:translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);;
}
.card-header{
    font-size: 1.6rem !important;
    font-weight: bold;
    padding : 10px !important;
    background : white!important;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li {
    margin : 10px 0 ;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    
}
.card-footer{
    padding: 15px 0 !important;
    background : white!important ;
}
.card:hover .card-footer a{
    border : 1px solid  rgb(116, 200, 228);
    border-radius: 100px;
    margin : 0 5px ;
    padding : 12px 35px ;
    outline : none;
    color : white;
    font-size: 16;
    text-align: center;
    background:  rgb(116, 200, 228)
}
.card-footer a:hover{
    color: white;
    background : rgb(116, 200, 228) ;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);;

}
.card:hover .card-header , .card:hover .money{
    color : rgb(116, 200, 228)
}
/*** clients ****************************************************/
.happyclients {
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    
}

 .box {
     text-align: center;
     border : 1px solid rgba(0,0,0,0.2);
     box-shadow : 0 5px 10px 0 rgba(0, 0, 0, 0.3);
     border-radius : 2px ;
     transition: 0.3s ease ;
 }
 .box:hover {
     background : #16c9f6!important ;

 }
 .box:hover p{
     color :white
 }
 .carousel-indicators {
     position: absolute;
     right: 0 ;
     bottom: -60px !important;
     
 }
 .carousel-indicators li{
     background-color: #16c9f6 !important;
 }
 .box a {
     position : relative;

 }
 .box a img{
     width: 100px ;
     height: 100px;
     border-radius: 50%;
     margin-top: 20px;
 }
 .box h1{
     font-size: 18px;
     font-weight: 700;
     color: #000 ;
     margin-bottom:  10px;
 }
 .box h2 {
     font-size: 13px;
     font-weight: 400;
     color: #666 ;
     margin-bottom: 20px;
    }
/*.............. contact us and about us..................................................*/
html{
    scroll-behavior: smooth;
}

.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
    z-index: -1;
}

.form-button button{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: transparent;
}

.form-button button:hover{
    color: #50d1c0;
}

form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

::placeholder{
    font-size: 0.85rem;
}
.breadcrumbs-section{
    background-color: #e9ecef;
}
.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-height:45px;
}

.input-group-text{
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0px 100px 100px 0px!important;
    min-width: 130px;
    min-height: 45px;
}

.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
}

.footersection p{
    color: white;

}

.footersection li a {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
}

.footersection h3{
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#myBtn {
    /*display: none;*/    
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;


}
#myBtn:hover {
    background-color: gray;
}

.map-responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 3rem;
	padding-bottom: 50%;
	border-radius: 0.25rem;
}
.map-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000%;
	height: 1000%;
	border: none; 
}

@media(max-width: 768px){
    .nav-item{
        text-align: center!important;
    }

    .pricing, .happyclients, .contactus{
        height: auto;
        margin-top: 50px;
    }
    .serviceSEO{
        transform: translateY(0px);
        margin: 30px 0;  
    }

    .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    }

    .contactus p{
        padding: 0 50px;
    }

    .footer-div:nth-child(2){
        text-align: left!important;
    }

    .footer-div{
        margin: 30px 0;
    }
}