body{
  background-color: red;


}
#heading-container{
  width: 100%;
  height: 300px;
  text-align: center;
  padding-top: 100px;
  background-image: url('https://wallpapercave.com/wp/wp6350571.jpg');
}
#heading-container .mob-app{
    color: white;
    font-size: 50px;
    font-weight: bolder;

}
#between-container{
  width: 100%;
  height: 280px;
  text-align: center;
  padding-top: 100px;
  z-index: -1;

}

#between-container p{
  width: 100%;
  height: 280px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  z-index: -1;
}

#between-container .mob-app{
  color: black;
    z-index: -1;

    font-size: 45px;
    font-weight: normal;
}
#between-container .web-app-company{
    color: blue;
    z-index: -1;
    font-size: 35px;
    font-weight: normal;
}

#between-container img{
  width: 70%;
  height: auto;
}
#between-container hr{
  width: 100%;

  height: 3px;
  background: #add8e6;
  border: none;
}
#bottom-images{
  background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/36/78/3wIB6d.jpg');
  width: 100%;
  height: 250px;

}

#bottom-images .row{
  color: white;
  font-size: 40px;
  font-weight: bold;

  margin-bottom: 100px;
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.quote-button {border-radius: 25px;}
#end-bar{
  background: green;
  height: 300px;
  background-color: #3CB878;
}
.email-input{
  margin-left: 120px;
  margin-top: 100px;
}
form {
    display: block;
    margin-top: 0em;
}
.subscribe .subscribe-form {
    margin-bottom: 25px;
}
.form{
  margin-top: 150px;
}
